pkgbase = python-nodejs-wheel
	pkgdesc = Unoffical Node.js wheels
	pkgver = 20.16.0
	pkgrel = 1
	url = https://pypi.org/project/nodejs-wheel/
	arch = x86_64
	license = MIT
	makedepends = python-installer
	makedepends = python-build
	makedepends = python-scikit-build-core
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	noextract = nodejs-20.16.0.tar.gz
	options = !lto
	source = python-nodejs-wheel-20.16.0.tar.gz::https://github.com/njzjz/nodejs-wheel/archive/refs/tags/v20.16.0.tar.gz
	source = nodejs-20.16.0.tar.gz::https://github.com/nodejs/node/archive/refs/tags/v20.16.0.tar.gz
	sha256sums = 6f7ba9daba44f0a8318e19599d7207f4bb7b5ee104c2ebeffce05a5ee91a0bbc
	sha256sums = d78104796225bcc150adf8ce4c486abfb390e1c71d0af7f28343803fe8588491

pkgname = python-nodejs-wheel
	pkgdesc = Unoffical Node.js wheels (CLI tools)
	depends = python
	depends = python-nodejs-wheel-binaries
	provides = nodejs=20.16.0
	provides = npm
	conflicts = nodejs
	conflicts = npm

pkgname = python-nodejs-wheel-binaries
