pkgbase = python-strictdoc
	pkgdesc = Software for writing technical requirements and specifications.
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/strictdoc-project/strictdoc
	arch = any
	license = Apache-2.0
	makedepends = python-pipreqs
	makedepends = python-setuptools
	depends = python-beautifulsoup4
	depends = python-datauri
	depends = python-docutils
	depends = python-fastapi
	depends = python-html5lib
	depends = python-jinja
	depends = python-lxml
	depends = python-multipart
	depends = python-pybtex
	depends = python-pygments
	depends = python-reqif
	depends = python-requests
	depends = python-selenium
	depends = python-semantic-version
	depends = python-spdx-tools
	depends = python-textx
	depends = python-toml
	depends = python-tree-sitter
	depends = python-xlrd
	depends = python-xlsxwriter
	depends = uvicorn
	optdepends = python-graphviz
	optdepends = python-webdriver-manager
	source = https://files.pythonhosted.org/packages/source/s/strictdoc/strictdoc-0.4.0.tar.gz
	sha512sums = 4d9041e260bc18eeeed3c4b65c06c76171b9cb9d0b63d16ecd1ac1bce7092c307971213f7d3dff15c00ea9edb650ea6297ac7f3daaf20a9b37c16256f6ea30de

pkgname = python-strictdoc
