pkgbase = python-nodejs-wheel
	pkgdesc = Unoffical Node.js wheels
	pkgver = 20.17.0
	pkgrel = 1
	url = https://pypi.org/project/nodejs-wheel/
	arch = x86_64
	license = MIT
	makedepends = python-installer
	makedepends = python-build
	makedepends = python-scikit-build-core
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	noextract = nodejs-20.17.0.tar.gz
	options = !lto
	source = python-nodejs-wheel-20.17.0.tar.gz::https://github.com/njzjz/nodejs-wheel/archive/refs/tags/v20.17.0.tar.gz
	source = nodejs-20.17.0.tar.gz::https://github.com/nodejs/node/archive/refs/tags/v20.17.0.tar.gz
	sha256sums = c8ce8cc7bcdfe764ea51f8a33ac027d596854910b2dc6e22ef403db85a319c7d
	sha256sums = f0bdfe0e2c12524ebc24811e405926299241c11a829ef72562e14fee52eb385c

pkgname = python-nodejs-wheel
	pkgdesc = Unoffical Node.js wheels (CLI tools)
	depends = python
	depends = python-nodejs-wheel-binaries
	provides = nodejs=20.17.0
	provides = npm
	conflicts = nodejs
	conflicts = npm

pkgname = python-nodejs-wheel-binaries
