pkgbase = python-textual-fspicker
	pkgdesc = A simple Textual filesystem picker dialog library
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/davep/textual-fspicker
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-uv-build
	makedepends = python-installer
	depends = python
	depends = python-textual
	source = https://files.pythonhosted.org/packages/source/t/textual_fspicker/textual_fspicker-1.0.0.tar.gz
	source = https://raw.githubusercontent.com/davep/textual-fspicker/v1.0.0/LICENSE
	sha256sums = 462608dbe6a14edff679fc6116addcf288f4a79f8e4fffd240f9ce2caaf9e655
	sha256sums = 9a3f784f2f73961691644b9f24eee2a82f761d9a0220e66786feadde9a38c124

pkgname = python-textual-fspicker
