pkgbase = python-docstring-parser
	pkgdesc = Parse Python docstrings
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/rr-/docstring_parser
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python-pytest
	source = https://files.pythonhosted.org/packages/source/d/docstring_parser/docstring_parser-0.17.0.tar.gz
	sha256sums = 583de4a309722b3315439bb31d64ba3eebada841f2e2cee23b99df001434c912

pkgname = python-docstring-parser
